Django==2.2
gunicorn==19.9.0
pypi==2.1
pytz==2018.9
sqlparse==0.3.0
whitenoise==4.1.2
django-crispy-forms==1.7.2
-e git://github.com/AndrewIngram/django-extra- 
views.git@aa58167af84d89feea286f9567a72cc5941360e4#egg=django_extra_views
django-heroku==0.1.0
django-multiselectfield==0.1.8
django-session-timeout==0.0.3